.about-wrap {
  color: var(--white);
  margin-top: 56px;
  padding: 0 18px;
  height: auto;
}
.about-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
}
.txt-container.hidden {
  mask-image: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0));
  height: 11em;
  overflow: hidden;
}
.txt-container p {
  line-height: 2rem;
  font-size: 16px;
  text-align: justify;
}
.txt-container h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
}
.about-p-link span a {
  font-size: 16px;
  line-height: 32px;
  color: var(--primary-color);
  text-decoration: none;
}
.about-p-link span a:hover {
  text-decoration: underline;
}
.about-btn button {
  display: flex;
  align-items: center;
  gap: 6px;
  /* margin-top: 24px; */
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  color: var(--primary-color);
  padding: 8px 0;
  border: none;
}
.about-btn button:hover {
  text-decoration: underline;
}
