.sec-articleNews-wrap {
  padding: 0 18px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.sec-articleNews h2 {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  margin-top: 12px;
  margin-bottom: 12px;
}
.articleNews-wrap {
  padding: 0 41px;
  display: flex;
  gap: 24px;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.articleNews-card {
  border-radius: 16px;
  background-color: #373943;
  padding: 26px 12px;
}
.articleNews-card a {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.articleNews-card a div img {
  border-radius: 16px;
  width: 100%;
  height: 17rem;
  object-fit: cover;
  margin: 20px 0;
}
.articleNews-card a h3 {
  color: inherit;
  font-size: 16px;
  line-height: 24px;
}
.articleNews-card a:hover {
  /* text-decoration: underline; */
  text-decoration: yellow underline;
}

@media screen and (max-width: 870px) {
  .articleNews-wrap {
    flex-direction: column;
    padding: 0;
  }
}
