.panel-orderPikup .panel-wrap {
  max-width: 73rem;
  width: auto;
  padding-top: 24px;
}
.panel-orderPikup-container {
}
.panel-orderPikup-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-orderPikup-topbar > div {
  display: flex;
  gap: 16px;
  align-items: center;
}
.panel-orderPikup-topbar > div > p {
  font-size: 16px;
  color: var(--white);
  border-radius: 999px;
  border: 2px solid var(--primary-color);
  padding: 8px 12px;
}
.panel-orderPikup-alert {
  display: flex;
  margin: 12px;
  justify-content: center;
}
.panel-orderPikup-alert .MuiPaper-root {
  background-color: #071318 !important;
  text-align: justify;
}

/* Box */
.panel-orderPikup-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
.panel-orderPikup-item {
  box-sizing: border-box;
  max-width: 23.8rem;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-color: #373943;
}
.panel-orderPikup-item-img {
  width: 210px;
  object-fit: fill;
  margin-bottom: 16px;
}
.panel-orderPikup-item-img img {
  border-radius: 16px;
  width: 100%;
}
.panel-orderPikup-item-txt {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.panel-orderPikup-item-txt p {
  color: var(--white);
  font-size: 20px;
  line-height: 24px;
}
.MuiTableRow-root th,
.MuiTableRow-root td {
  color: var(--white);
}

@media screen and (max-width: 1168px) {
  .panel-orderPikup-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 680px) {
  .panel-orderPikup-items {
    grid-template-columns: 1fr;
  }
  #cart-alert {
    font-size: 16px !important;
    padding: 1rem !important;
  }
}
@media screen and (max-width: 480px) {
  .panel-orderPikup-item button {
    height: min-content !important;
  }
  .panel-orderPikup-topbar {
    flex-direction: column;
    gap: 12px;
  }
  .panel-orderPikup-topbar > div:first-child {
    flex-direction: column;
  }
}
