.nav {
  background-color: var(--black);
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav-wrap {
  display: flex;
  padding: 12px 46px;
  justify-content: space-between;
  align-items: center;
}
.nav-wrap > div {
  display: flex;
}
.logo {
  width: 40px;
  height: 40px;
  margin-left: 25px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.links {
  flex: 1;
  display: flex;
  align-items: center;
}
.links a,
.menu-virtualized a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--white);
  margin-left: 0.2rem;
  font-size: 0.9rem;
}
.links a:hover {
  text-decoration: underline;
}
.menu-virtualized {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background: #0000001e;
  position: absolute;
  z-index: 999;
  right: 0;
  top: -20px;
  left: 0;
  transition: all 0.2s ease-in;
  opacity: 0;
}
.menu-virtualized-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgb(55, 57, 67);
  padding: 12px;
}
.menu-virtualized.active {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.nav .menu {
  display: none;
}

@media screen and (max-width: 850px) {
  .nav .links {
    display: none;
  }
  .nav-wrap {
    padding: 12px 0;
  }
  .nav .menu {
    display: block;
  }
}
