.faq-wrap {
  padding: 12px 18px 24px 18px;
}
.faq-wrap .MuiPaper-root {
  padding: 0;
}
.faq-title {
  font-size: 28px;
  color: var(--white);
  margin-bottom: 32px;
}
.subTitle {
  font-size: 1.33rem;
  color: var(--white);
  font-weight: bold;
  padding: 24px 0 16px 0;
}

@media screen and (max-width: 540px) {
  .faq-title {
    text-align: center;
  }
  .faq-wrap {
    padding-right: 0;
    padding-left: 0;
  }
}
