@font-face {
  font-family: vazir;
  src: url(./../fonts/vazire.ttf);
}

:root {
  --primary-color: #f1ab1f;
  --primary-color-badge: #fcca17;
  --primary-color-badge-bg: #fcca171b;
  --secondary-color: #494c5a;
  --white: #f2f2f3;
  --black: #2a2c34;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
* {
  font-family: "vazir" !important;
}
body {
  font-family: "vazir";
  background-color: var(--black);
  direction: rtl;
}

/* scroll bar */
body {
  --sb-track-color: #424242;
  --sb-thumb-color: #686868;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.container {
  max-width: 70rem;
  padding: 0 18px;
  margin: 0 auto;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
b {
  font-weight: bold;
}

.MuiOutlinedInput-root:hover:not(.Mui-focused)
  .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff90;
}
.mui-rtl-putrnr input {
  direction: ltr;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #00000086 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

/* stepper section */
.stepper-parent {
  padding: 0 18px;
}
.stepper h2 {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: bold;
  color: var(--white);
}
.stepper-wrap {
  display: flex;
}
.stepper-wrap > div {
  flex: 1;
}
.stepper-labels {
  margin-top: 27px;
}
#myStepper {
  align-items: flex-start;
}
#myStepper > .MuiStepConnector-root {
  margin-right: 12px;
}
#myStepper .MuiStepLabel-label {
  margin-right: 8px;
  color: #ffffffb6;
  font-size: 14px;
}
#myStepper .stepperBtn {
  background-color: transparent;
}
#myStepper .MuiSvgIcon-root {
  font-size: 24px;
  color: #ffffff80;
}
#myStepper .MuiSvgIcon-root.Mui-active {
  font-size: 24px;
  color: var(--primary-color);
}
#myStepper .MuiStepLabel-label.Mui-active {
  font-size: 20px;
  color: var(--primary-color);
}
.stepper-description {
  margin-top: 27px;
}
.stepper-desc-box {
  display: flex;
  border-radius: 16px;
  padding: 16px;
  min-height: 230px;
  box-shadow: rgb(255, 215, 0) 0px 0px 32px 1px;
}
.stepper-desc-box p {
  flex: 4;
  text-align: justify;
  font-size: 16px;
  padding-left: 6px;
  line-height: 32px;
  color: var(--white);
}
.stepper-desc-box-icon {
  width: 104px;
  /* height: 100px; */
  padding: 8px;
}

@media screen and (max-width: 870px) {
  .stepper-parent h2 {
    font-size: 1.25rem;
    margin-top: 2rem;
  }
  .stepper-parent .stepper-description.sd {
    display: none;
  }
  .stepper-parent .stepper-desc-box.sm {
    display: flex !important;
  }
}
@media screen and (max-width: 385px) {
  #myStepper .MuiStepLabel-label.Mui-active {
    font-size: 15px;
  }
  .stepper-parent .stepper-desc-box.sm {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 45px !important;
  }
}

/* stepper section end */

/* chart */

#myChart .recharts-cartesian-axis-line,
#myChart .recharts-cartesian-axis-tick-line,
#myChart .recharts-tooltip-wrapper {
  display: none;
}
/* chart */

/* mui */

.MuiPaper-root {
  background-color: #373943 !important;
  border-radius: 8px !important;
}

.panelDepositMyCards {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.MuiAlert-message {
  text-align: center;
  width: 100%;
}

.MuiSliderThumb {
  margin-left: -18px !important;
}

.MuiAlert-colorError {
  background-color: #160b0b !important;
  color: #ffe2b7 !important;
  width: 100%;
  border-radius: 16px !important;
  font-size: 14;
}

/* mui */

/* dashboard */

.dashboard * {
  box-sizing: border-box;
}
.dashboard {
  display: flex;
}
.dashboard-content {
  flex: 1;
  position: relative !important;
}
.dashboard > .sideBar {
  width: 17rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}
.dashboard > .sideBar.hide {
  transform: translateX(2750px);
  width: 0;
  visibility: hidden;
}
.dashboard > .dashboard-content {
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

/* modal */

.modal-dashboard .MuiPaper-root {
  width: 100% !important;
  max-width: 444px !important;
  box-sizing: border-box;
}

/* dashboard */
