@font-face {
  font-family: vazir;
  src: url(./../fonts/vazire.ttf);
}

:root {
  --primary-color: #f1ab1f;
  --primary-color-badge: #fcca17;
  --primary-color-badge-bg: #fcca171b;
  --secondary-color: #494c5a;
  --white: #f2f2f3;
  --black: #2a2c34;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
* {
  font-family: "vazir" !important;
}
body {
  font-family: "vazir";
  background-color: var(--black);
  direction: rtl;
}

/* scroll bar */
body {
  --sb-track-color: #424242;
  --sb-thumb-color: #686868;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.container {
  max-width: 70rem;
  padding: 0 18px;
  margin: 0 auto;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
b {
  font-weight: bold;
}

.MuiOutlinedInput-root:hover:not(.Mui-focused)
  .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff90;
}
.mui-rtl-putrnr input {
  direction: ltr;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #00000086 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}
