.logo-stroke-app-loading {
  stroke-dasharray: 2100;
  stroke-dashoffset: 2100;
  animation: dash 6s linear infinite;
  display: flex;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 2100;
  }
  100% {
    stroke-dashoffset: -2100;
  }
}
