.panel-wallet .panel-wrap {
  max-width: 480px;
  width: 100%;
}
.panel-wallet-container {
  box-sizing: border-box;
  background-color: #373943;
  border-radius: 1rem;
  margin: 28px 0;
  padding: 24px 12px;
}
.panel-wallet-top p {
  font-size: 18px;
  text-align: center;
  color: var(--white);
}
.panel-wallet-actions {
  margin-top: 16px;
  padding: 0 12px;
  display: flex;
}
.panel-wallet-action a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 16px;
  width: 100%;
  padding: 8px;
  height: 64px;
  color: var(--white);
  text-decoration: none;
}
.panel-wallets-list {
  margin-top: 32px;
  padding: 8px 16px 24px 16px;
  background-color: #494c5a;
  border-radius: 8px;
}
.panel-wallets-list > p {
  color: #fff;
  font-size: 16px;
  padding: 4px;
}
.panel-wallets_wallet {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #2a2c34;
  border-radius: 6px;
  display: flex;
  align-items: center;
  height: 68px;
  box-sizing: border-box;
}
.panel-wallets_wallet > div p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.panel-wallets_wallet > div span {
  font-size: 16px;
  margin-top: 8px;
  display: block;
  color: #9fa0a8;
}
