.panel * {
  box-sizing: border-box;
}
.panel {
  display: flex;
}
.panel-content {
  flex: 1;
  position: relative !important;
}
.panel > .sideBar {
  width: 17rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}
.panel > .sideBar.hide {
  transform: translateX(2750px);
  width: 0;
  visibility: hidden;
}
.panel > .panel-content {
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

/* modal */

.modal-panel .MuiPaper-root {
  width: 100% !important;
  max-width: 444px !important;
  box-sizing: border-box;
}
