.sec-chart-wrap {
  padding: 0 18px;
  margin-top: 65px;
}
.sec-chart h2 {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  margin-top: 8px;
  margin-bottom: 12px;
}
.chart-wrap {
  padding: 18px;
  border-radius: 16px;
  background-color: #373943;
  height: 100%;
  direction: ltr;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#my-chart .recharts-cartesian-axis-line,
#my-chart .recharts-cartesian-axis-tick-line,
#my-chart .recharts-tooltip-wrapper {
  display: none;
}

@media screen and (max-width: 870px) {
  .sec-chart-wrap {
    margin-top: 3rem;
    padding: 0;
  }
  .chart-wrap {
    padding: 18px 0;
  }
  .chart-wrap h2 {
    font-size: 16px;
  }
  .recharts-responsive-container {
    margin-left: -23px;
  }
}
