.panel-topBar {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
}
.panel-topBar-wrap {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #494c5a;
}
.topBar-closeMenu-btn {
}
.topBar-user-info {
}
